.bim-editor-round-btn {
    padding: 8px !important;
    border-radius: 50% !important;
    aspect-ratio: 1/1 !important;

    &-remove {
        $button-color: red;

        background-color: $button-color !important;
        color: white !important;

        &:hover {
            background-color: transparent !important;
            color: $button-color !important;
        }
    }
}

.bim-editor-btn-column {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    padding: 4px 0;
}

.bim-editor-input-list {
    width: 100%;
    max-width: 700px !important;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.bim-editor-add-btn-container {
    padding-left: 8px;
}

.bim-editor-input-list-item {
    width: 100%;
    max-width: 700px !important;
    height: fit-content;

    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.bim-editor-input-group {
    padding: 8px;
    border: gray solid 1px;
    border-radius: 4px;
    box-sizing: border-box;

    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    .bim-editor-input-row {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }

    .bim-editor-input-label {
        font-size: 12px;
        color: black;
        width: 100%;
        padding-left: 7px; // 1+6 from border and padding of .bim-editor-input lower
    }

    .bim-editor-input.rich-text,
    .bim-editor-input input {
        word-wrap: anywhere;
        border: lightgrey solid 1px;
        border-radius: 4px;
        padding: 3px 6px 1px 6px;
        font-size: 14px;
        line-height: 1.7em;
        color: var(--bim-gray-dark-2);

        &:focus {
            border-color: var(--bim-accent) !important;
            box-shadow: none;
            outline: none;
        }

        [data-rich-text-placeholder]::after,
        &::placeholder {
            opacity: 0.6;
            color: var(--bim-gray-dark-2);
        }
    }
}