.bim-editor-carousel-inspector {
    padding: 0;
    border: none;
}

.bim-carousel-image-wrapper {
    width: var(--bim-carousel-image-width);
    height: var(--bim-carousel-image-height);
    border-radius: var(--bim-carousel-image-border-radius);
}